.button {
  font: inherit;
  border: 2px solid #be8181;
  background: #d38686;
  color: white;
  padding: 0.25rem 1rem;
  cursor: pointer;
}

.button:hover,
.button:active {
  background: #ff7e7e;
  border-color: #881d1d;
}

.button:focus {
  outline: none;
}
